body {
  padding: 0;
  margin: 0;
  background: whitesmoke;
  font-family: "Montserrat";
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
}

.logout {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
}

.login-button {
  text-align: center;
  border: black solid 1px;
  border-radius: 5px;
  background-color: whitesmoke;
  padding: 0.5em;
}

.logout-button {
  text-align: center;
  border: black solid 1px;
  border-radius: 5px;
  background-color: whitesmoke;
  padding: 0.5em;
}

@media (min-width: 968px) {
  body {
    background: black;
    color: whitesmoke;
  }
  .login-button {
    text-align: center;
    background-color: transparent;
    border: none;
    color: whitesmoke;
  }
  .logout-button {
    text-align: center;
    background-color: transparent;
    border: none;
    color: whitesmoke;
  }
}
