body {
    padding: 0;
    margin: 0;
    background: whitesmoke;
    font-family: 'Montserrat';
  }

.login-logout {
    display: flex;
    padding: .5em
}

.login {
    flex: 1;
    text-align: center;
    border: black solid 1px;
    border-radius: 5px
}

.logout {
    flex: 1;
    text-align: center;
    border: black solid 1px;
    border-radius: 5px
}