body {
    padding: 0;
    margin: 0;
    background: whitesmoke;
    font-family: 'Montserrat';
}

.login {
    display: flex;
    padding: .5em
}

.logout {
    display: flex;
    padding: .5em
}

.login-button {
    flex: 1;
    text-align: center;
    border: black solid 1px;
    border-radius: 5px;
    background-color: whitesmoke;
}

.logout-button {
    flex: 1;
    text-align: center;
    border: black solid 1px;
    border-radius: 5px;
    background-color: whitesmoke;
}

@media (min-width: 968px) {
    .login-logout {
        display: none
    }
    body {
        background: black;
        color: whitesmoke
    }
}