.cart-nav {
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 1em;
}

span {
    flex: 1
}

.home {
    width: 5vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.back-to-shop {
    width: 5vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.product-container {
    background-color: #fff;
}

.product {
    text-align: center;
    background-color: white;
    padding: .5em;
}

.price {
    text-align: center;
}

.button-holder {
    text-align: center;
}

.rfc {
    padding: .5em;
    background-color: whitesmoke;
    border: black solid 1px;
    border-radius: 5px;
}

.shirt-cart {
    display: flex;
    justify-content: center;
    align-items: center
}

@media (min-width: 968px) {
    .shirt-cart > img {
        width: 40%;
    }
}